<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Total Amount</th>
      <th>Venue</th>
      <th>Transactions</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.total_amount %></td>
        <td><%= payment.venue_name %></td>
        <td><%= payment.transactions_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>